{% extends "base.html" %}

{% block title %}About Robot Rebuilt{% endblock  %}

{% block content %}

<div class="prose">

<h1>Privacy Policy</h1>

<p>

The goal of this policy is to help you understand what use
we make of any information you provide us.  That way, you can
make an informed decision about your use of our site.

</p>

<h2>General traffic information</h2>

We collect web site traffic information, for the purposes of
understanding site usage.  If you permit it, we make use of cookies, a
store of information on your computer.  No user-identifying information
(such as email addresses) is associated with web traffic information.
Traffic information is shared with the &ldquo;Google Analytics&rdquo; service
to help us understand it (<a href='http://www.google.com/privacy.html'>privacy policy</a>).

<h2>Subscriptions</h2>


All subscriptions to news about
our site are managed by the &ldquo;Google Feedburner&rdquo; service
(<a href='http://www.google.com/privacy.html'>privacy policy</a>).


<h2>Messages</h2>

All messages sent via our site
are managed by the &ldquo;Google Docs&rdquo; service
(<a href='http://www.google.com/intl/en/privacy/privacy-policy.html'>privacy policy</a>).

{% endblock %}
