{% extends "base.html" %}

{% block title %}The squeaky wheel gets the grease{% endblock  %}

{% block content %}

<div class="prose">

<h1>There has to be a better way</h1>

<p>

Have you come across a job that just cries out for some rethinking?
A task that could be done neatly, cleanly, and silently &ldquo;by
hand,&rdquo; but (because it is tedious and time-consuming)
is instead done crudely, noxiously, or noisily
by machine?
Consider posting a video to
<a href="http://upload.youtube.com/my_videos_upload">youtube</a> (or
any public site), and <a href="/contact/">point us to it</a>.
Remember, the squeaky wheel gets the grease.

</p>

<p>
<form style="display:inline; margin:0px; padding:0px;font-size:75%;" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=RobotRebuilt', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">Get updates by email:&nbsp;<input style='display:inline; width: 70px;' type="text" name="email"/><input type="hidden" value="RobotRebuilt" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /></form>&nbsp;&nbsp;<a style=";font-size:75%;" href="http://feedproxy.google.com/RobotRebuilt" rel="alternate" type="application/rss+xml">by rss</a>&nbsp;<a href="http://feedproxy.google.com/RobotRebuilt" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" width='16' height='16' style="vertical-align:middle;border:0;margin:0px;padding:2px;" /></a>

  </p>

  </div>
  
{% endblock %}
